{% extends "machines/base.html" %}

{% block title %}
<title>Signin Page</title>
{% endblock %}

{% block content %}
<h1> Here is the SignIn Form.</h1>
<hr />
<form class="form" action="{% url 'machines:signin' %}" method="post">
{% csrf_token %}
  <input class="form-control" type="text" name="username" placeholder="Your Username" />
  <input class="form-control" type="password" name="password" placehoder="Your Password" />
  <button class="btn btn-primary" type="submit" >Sign In</button>
</form>
{% endblock %}
