{% extends "machines/base.html" %}

{% block title %}
<title>Signin Page</title>
{% endblock %}

{% block content %}
<h1> Here is the SignIn Form.</h1>
<hr />
<form class="form-horizontal" action="{% url 'machines:signin' %}" method="post">
{% csrf_token %}
  <div class="form-group">
    <label for="inputUser" class="col-md-2 control-label">Username</label>
    <div class="col-md-10">
      <input class="form-control" id="inputUser" type="text" name="username" placeholder="Your Username" />
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword" class="col-md-2 control-label">Password</label>
    <div class="col-md-10">
      <input class="form-control" id="inputPassword" type="text" name="password" placeholder="Your Password" />
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
	    <div class="checkbox">
		    <label><input type="checkbox"> Remember me </label>
	    </div>
    </div>
  </div>
  <div class="form-group">
	  <div class="col-md-offset-2 col-md-10">
		  <button type="submit" class="btn btn-default">Sign In</button>
	  </div>
  </div>
</form>
{% endblock %}
